#paneRight {
    border:1px solid #000;
    position:absolute;
    top:95px;
    bottom:0;
    right:0;
    width:300px;
    background-color:#fff;
    color:#333;
    padding:5px;
}

.paneRightTabContent {
    position:absolute;
    top:50px;
    overflow:auto;
    margin:5px;
    bottom:0;
    right:0;
    width:290px;
}
